/* .pipe-paragraph {
  width: auto;
  height: 50px;
  overflow: hidden;
  position: relative;
}

.pipe-paragraph::before {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 20px;
  height: 100%;
  background: linear-gradient(to right, transparent, rgb(160, 60, 60));
} */
