/* General styles */
.mui-input {
  position: relative;
}

/* Input field styles */
.mui-input-field {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Label styles */
.mui-input-label {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 0 4px;
  color: #777;
  font-size: 16px;
  background-color: white;
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

/* When input is focused or has content */
.mui-input-field:focus,
.mui-input-field:not(:placeholder-shown) {
  border-color: gray;
}

.mui-input-field:focus + .mui-input-label,
.mui-input-field:not(:placeholder-shown) + .mui-input-label {
  top: -10px;
  font-size: 12px;
  color: rgb(97, 97, 97);
  background-color: white;
}
