@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  max-width: 100%;
  height: 100vh;
  /* background-color: #EFEFEF; */
}

.container-report-1 {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.container-report-2 {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.container-report-3 {
  width: 120px;
  height: 40px;
  background: green;
  border: 1px solid green;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 15px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-report-3:hover {
  background-color: #ffffff;
  color: green;
}

.container-authorize-director-1 {
  display: flex;
  flex-direction: row;
}

.container-authorize-director-2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-bottom-color: black;
  border-bottom-width: 1px;
  margin-bottom: 25px;
}

/* .bar{
    height: 10em;
    background: transparent;
    z-index: -1;
}

.traingle{
    position: fixed;
    top: 0%;
    right: 0%;
}

.circle{
    position: fixed;
    bottom: 0%;
    left: 0%;
} */
